@model Post

<!-- Page Content -->

<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">        
        @Html.Raw(Model.Title.Replace("\n", "<br />"))
    </h1>

    <!-- Item Description -->
    <div class="row mb-3">
        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Title</h3>
            <p>@Html.Raw(Model.Description.Replace("\n", "<br />"))</p>

            <h3 class="my-3">Recipe Category</h3>
            <ul>
                <li>@Model.PostCategory</li>                
            </ul>
        </div>
    </div>

    <!-- Youtube Recipe Link -->
    @if(Model.Link != null)
    {
        <h4><a href="@Html.Raw(Model.Link.Replace("\n", "<br />"))" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">Youtube Recipe Link</a></h4>
    }
    else
    {
        // When link is null, do not display.
    }

    <!-- Item Ingredients -->
    <h3 class="my-4">Ingredients</h3>
    <ul>
        @{
            var ingredients = Model.Ingredient.Split(',');
            foreach (var ingredient in ingredients)
            {
                <li>@ingredient</li>
            }
        }
    </ul>

    <!-- Item Description -->
    <h3 class="my-4">Recipe</h3>
    <p>@Html.Raw(Model.Recipe.Replace("\n", "<br />"))</p>

</div>
