@model IEnumerable<Post>

<main>

    @* Hero *@
    <div class="px-4 py-5 my-5 text-center">

        <h1 class="display-5 fw-bold text-body-emphasis">Posts</h1>

        <div class="col-lg-6 mx-auto">
            <p class="lead text-body-secondary">Welcome to Posts section! All the posts ever posted on this website appear here. All the posts here are written recipes from my youtube channels.</p>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a asp-controller="Post" asp-action="Create" type="button" class="btn btn-primary btn-lg px-4 gap-3">Create post</a>
                <a href="#" type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary action</a>
            </div>

        </div>

    </div>


    @* Search bar *@
    <form class="d-flex w-50 mb-2" role="search" asp-controller="Post" asp-action="Index">
        <input class="form-control me-2" type="search" placeholder="Search Posts" aria-label="Search" name="SearchString" />
        <button class="btn btn-outline-success me-2" type="submit">Search</button>
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Post" asp-action="Index">Reset</a>
    </form>


    @* Cards *@
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                @foreach (var item in Model)
                {
                    <div class="col mb-4">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                            @* Card Details *@
                            <div class="card-body">
                                <a asp-controller="Post" asp-action="Detail" asp-route-id="@item.Id" class="stretched-link"></a>
                                <p class="card-text">@item.Title</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-body-secondary">@item.PostCategory</small>
                                </div>
                            </div>
                            @* Admin privlages *@
                            <div class="card-footer btn-group">
                                <a asp-controller="Post" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-primary stretched-link">Edit</a>
                                <a asp-controller="Post" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-danger stretched-link">Delete</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>

</main>